/**
 * @file
 * Styles for the default drupal login
 */
.rounded {
  border-radius: 0.25rem;
}
.rounded-sm {
  border-radius: 0.125rem;
}
.max-w-full {
  max-width: 100%;
}
.px-16 {
  padding-right: 4rem;
  padding-left: 4rem;
}
.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 640px) {

  .sm--max-w-md {
    max-width: 34rem;
  }
}
.tabs--primary {
  font-size: .875rem;
}
.description {
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 0px;
  padding-right: 0px;
}
.form-checkbox,
.form-radio {
  flex-wrap: wrap;
}
.user-pass p {
  margin-bottom: calc(var(--leading) * var(--base-font-size));
}
.user-register-form .form-submit,
.user-pass .form-submit,
.user-login-form .form-submit {
  display: block;
  width: 100%;
  font-size: 1.125rem;
}
.form-managed-file .form-submit {
  display: block;
  border-width: 1px;
  border-color: rgba(var(--ubc-blue-cobalt), 1);
  background-color: rgba(var(--white), 1);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  text-align: center;
  color: rgba(var(--ubc-blue-cobalt), 1);
  text-decoration-line: none;
}
.form-managed-file .form-submit:hover {
  border-width: 1px;
  border-color: rgba(var(--ubc-blue-cobalt), 1);
  background-color: rgba(var(--ubc-blue-cobalt), 1);
  color: rgba(var(--white), 1);
}
body {
  background-color: rgba(var(--ubc-blue), 1);
}
