/** @define layout.base */

/*
* This file contains css for layouts
*/

.container-narrow {
  width: 100%;
}

.w-constrain {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container-narrow {
    max-width: 640px;
  }
}

@media (min-width: 980px) {
  .container-narrow {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-narrow {
    @apply max-w-5xl;
  }
}

/* primary layouts */
@media (min-width: 980px) {

  #sidebar-primary_upper {
    grid-area: a;
  }

  #sidebar-secondary_upper {
    grid-area: b;
  }

  #primary-content {
    grid-area: c;
  }

  #sidebar-primary {
    grid-area: d;
  }

  #sidebar-secondary {
    grid-area: e;
  }

  #main-grid {
    grid-template-areas:
    '. . c c c c c c c c . .'
    '. . c c c c c c c c . .';
    grid-template-rows: auto 1fr;
  }

  #main-grid.fullwidth-content {
    grid-template-areas:
    'c c c c c c c c c c c c'
    'c c c c c c c c c c c c';
    grid-template-rows: auto 1fr;
  }

  #main-grid.has-sidebars-left.has-sidebars-right {
    grid-template-areas:
    'a a a c c c c c c b b b'
    'd d d c c c c c c e e e';
  }

  #main-grid.has-sidebars-right:not(.has-sidebars-left) {
    grid-template-areas:
    'c c c c c c c c c b b b'
    'c c c c c c c c c e e e';
  }

  #main-grid.has-sidebars-left:not(.has-sidebars-right) {
    grid-template-areas:
    'a a a a c c c c c c c c'
    'd d d d c c c c c c c c';
  }

  /* has one sidebar */
  #main-grid.has-sidebar-left-upper:not(.has-sidebars-right) {
    grid-template-areas:
    'a a a a c c c c c c c c'
    'a a a a c c c c c c c c';
  }

  #main-grid.has-sidebar-left-lower:not(.has-sidebars-right) {
    grid-template-areas:
    'd d d d c c c c c c c c'
    'd d d d c c c c c c c c';
  }

  #main-grid.has-sidebar-right-upper:not(.has-sidebars-left) {
    grid-template-areas:
    'c c c c c c c c b b b b'
    'c c c c c c c c b b b b';
  }

  #main-grid.has-sidebar-right-lower:not(.has-sidebars-left) {
    grid-template-areas:
    'c c c c c c c c e e e e'
    'c c c c c c c c e e e e';
  }

  /* two, on opposite sides */
  #main-grid.has-sidebar-right-upper.has-sidebar-left-upper {
    grid-template-areas:
    'a a a c c c c c c b b b'
    'a a a c c c c c c b b b';
  }

  #main-grid.has-sidebar-right-upper.has-sidebar-left-lower {
    grid-template-areas:
    'd d d c c c c c c b b b'
    'd d d c c c c c c b b b';
}

  #main-grid.has-sidebar-right-lower.has-sidebar-left-upper {
    grid-template-areas:
    'a a a c c c c c c e e e'
    'a a a c c c c c c e e e';
  }

  #main-grid.has-sidebar-right-lower.has-sidebar-left-lower {
    grid-template-areas:
    'd d d c c c c c c e e e'
    'd d d c c c c c c e e e';
  }

  /* one side + one sidebar */
  #main-grid.has-sidebars-left.has-sidebar-right-upper {
    grid-template-areas:
    'a a a c c c c c c b b b'
    'd d d c c c c c c b b b';
  }

  #main-grid.has-sidebars-left.has-sidebar-right-lower {
    grid-template-areas:
    'a a a c c c c c c e e e'
    'd d d c c c c c c e e e';
  }

  #main-grid.has-sidebars-right.has-sidebar-left-upper {
    grid-template-areas:
    'a a a c c c c c c b b b'
    'a a a c c c c c c e e e';
  }

  #main-grid.has-sidebars-right.has-sidebar-left-lower {
    grid-template-areas:
    'd d d c c c c c c b b b'
    'd d d c c c c c c e e e';
  }

}