/** @define media.base */

/*
* This file contains base styles related to media, such as images, svgs and iframes.
*/

img,
video {
  max-width: 100%;
  height: auto;
}

figure {
  @apply table mt-leading;

  margin-bottom: 0;
}

figcaption {
  @apply table-caption px-3 pt-2 text-sm text-grey-700 caption-bottom;
}

/* svgs
* add a default stroke width (utilities to modify in separate file)
*/
svg:not(.ck) {
  stroke-width: 2;
  fill: none;
}

/* embedded media (iframes) */
embed,
iframe,
object {
  aspect-ratio: 16/9;
  height: auto;
  width: 100%;
}
