/*
* This file contains all default application-wide Sass and CSS3 variables.
*/
:root {
    --base-line-height: var(--leading);

    --ubc-blue: #002145;
    --ubc-blue-sea: #003a79;
    --ubc-blue-cobalt: #0055b7;
    --ubc-blue-neptune: #40b4e5;
    --ubc-blue-sky: #61c1e9;
    --ubc-blue-cornflower: #97d4e9;
    --ubc-blue-polar: #def1f8;
    --ubc-blue-frost: #f6fbfd;

    --transparent: transparent;
    --black: #000;
    --white: #fff;
    --grey-50: #fafafa;
    --grey-100: #f5f5f5;
    --grey-300: #e0e0e0;
    --grey-500: #9e9e9e;
    --grey-700: #616161;
    --grey-900: #212121;

    --error: #ff7c7c;
    --warning: #f8e605;
    --success: #57edae;
    --status: var(--ubc-blue-neptune);
    --text-color: var(--grey-900);

    --gradient-ubc-blue-transparent: rgba(0, 33, 69, 0);
    --gradient-ubc-blue-opaque: rgba(0, 33, 69, 1);
    --gradient-grey-transparent: rgba(244, 244, 244, 0);
    --gradient-grey-opaque: rgba(244, 244, 244, 1);

    --default-text-color: var(--grey-900);
    --default-link-color: var(--ubc-blue-cobalt);
    --default-link-color-hover: var(--ubc-blue);
    --default-link-color-active: var(--ubc-blue);

    --title-weight: 600;

    /* Forms */
    --input-border-radius: 0;
    --input-text: var(--grey-700);
    --input-border: var(--grey-300);
    --input-bg: var(--white);
    --input-disabled-color: var(--grey-100);
    --input-disabled-bg: var(--grey-700);
    --input-disabled-border: var(--grey-700);
    --input-select-border: var(--grey-300);
    --input-select-bg: var(--white);
    --input-select-text: var(--grey-700);
    --input-check-radio-color: var(--ubc-blue);
    --input-check-radio-border: var(--ubc-blue);
    --input-placeholder-color: var(--grey-300);
    --input-required-color: var(--error);
    --focus-bg: rgba(64, 180, 229, 0.5);
    --focus-inner-bg: rgba(0, 33, 69, 1);
    --focus-required-bg: rgba(255, 124, 124, 0.5);
    --focus-required-inner-bg: #d62f2f;

    /* Buttons */
    --button-text: var(--white);
    --button-bg: var(--ubc-blue);
    --button-border: var(--transparent);
    --button-text--hover: var(--white);
    --button-bg--hover: var(--ubc-blue-sea);
    --button-border--hover: var(--transparent);
    --button-text--active: var(--white);
    --button-bg--active: var(--ubc-blue-sea);
    --button-border--active: var(--transparent);
    --button-light-bg: var(--ubc-blue-polar);
    --button-light-border: var(--transparent);
    --button-light-text: var(--black);
    --button-light-bg--hover: var(--ubc-blue-frost);
    --button-light-border--hover: var(--transparent);
    --button-light-text--hover: var(--black);
    --button-light-bg--active: var(--ubc-blue-frost);
    --button-light-border--active: var(--transparent);
    --button-light-text--active: var(--black);
    --button-dark-bg: var(--ubc-blue);
    --button-dark-border: var(--transparent);
    --button-dark-text: var(--white);
    --button-dark-bg--hover: var(--ubc-blue-cobalt);
    --button-dark-border--hover: var(--transparent);
    --button-dark-text--hover: var(--white);
    --button-dark-bg--active: var(--ubc-blue-cobalt);
    --button-dark-border--active: var(--transparent);
    --button-dark-text--active: var(--white);
    --button-transparent-bg: rgba(255, 255, 255, 0.2);
    --button-transparent-border: var(--transparent);
    --button-transparent-text: var(--white);
    --button-transparent-bg--hover: rgba(255, 255, 255, 0.4);
    --button-transparent-border--hover: var(--transparent);
    --button-transparent-text--hover: var(--white);
    --button-transparent-bg--active: rgba(255, 255, 255, 0.5);
    --button-transparent-border--active: var(--transparent);
    --button-transparent-text--active: var(--white);
}
