{% set cardprimaryattributes = create_attribute() %}
{% set classes = [
        'ubc-card',
        'ubc-card--primary',
        color,
        layout,
        customClasses,
    ]
%}
<article {{ cardprimaryattributes.addClass(classes) }}>
  <div class="ubc-card__media img-cover">
    {% block media %}{% endblock %}
  </div>
  <div class="flex flex-col h-full ubc-card__content_wrapper">
    <div class="ubc-card__content first-child--mt-0">
      <h3 class="card__title">
          {{ title }}
      </h3>
      {% block content %}{% endblock %}
    </div>
    <div class="ubc-card__actions">
      <p>
        <a href="{{ link }}" class="unit-button unit-button--light link-expand" {% if target %} target="_blank" {% endif %}>
         {{ linkText }}
        </a>
      </p>
    </div>
  </div>
</article>
