/** @define custom.theme */

/*
* This file contains all styles related to the custom theme.
*/

.keyline-bottom::after {
  @apply absolute block bg-white h-[1px] w-[40%] left-[30%] bottom-[-5px] opacity-50;
  content: '';
}
