/** @define typography.utility */

/*
* This file contains default typographic utility styles for text elements.
*/

/* heading, display size */
.heading-display,
.heading-display h1 {
  @apply text-5xl font-semibold;
  line-height: 1.2;
}

@media (max-width: 479px) {
  .heading-display,
  .heading-display h1 {
    @apply text-2xl;
  }
}

/* heading with stroke */
.heading-stroke {
  @apply flex items-center;
}

.heading-stroke::before {
  @apply content-[''] flex-1 border-t border-ubc-blue me-4;
}

.heading-stroke::after {
  @apply content-[''] flex-1 border-t border-ubc-blue ms-4;
}

/* responsive type (20px min to 46px max) - see https://modern-fluid-typography.vercel.app for configuration */
.heading-responsive {
  font-size: clamp(1.25rem, 2vw + 1rem, 3rem);
}

/* Blockquote */
.text-cite {
  @apply text-sm not-italic font-normal text-right uppercase;
}

.text-cite::before {
  content: "—";
  padding-right: 0.25em;
}

.text-cite span {
  display: block;
}

.blockquote--inverse,
.blockquote--inverse .text-cite {
  @apply text-left bg-transparent text-ubc-blue;
}

/* horizontal rule element */
.hr--styled {
  @apply border-t border-ubc-blue;
  max-width: 7rem;
  margin-top: calc(var(--text-base) * var(--scale-ratio));
  margin-bottom: calc(var(--text-base) * var(--scale-ratio));
}

/* Text utilities */
.text-lead {
  @apply text-2xl;
  margin-top: calc(var(--text-2xl) * var(--scale-ratio));
  margin-bottom: 0;
  font-family: var(--alternate-font-stack);
  line-height: var(--line-height-base);
  color: var(--color-primary);
}

.text-hug {
  margin-top: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

/* we use the 'ch' unit, which is the width of the '0' [zero] character in the current font. */
/* https://meyerweb.com/eric/thoughts/2018/06/28/what-is-the-css-ch-unit/ */
.text-measure {
  max-width: 60ch;
  display: block;
}

.text-measure-sm {
  max-width: 50ch;
  display: block;
}

.text-measure-lg {
  max-width: 70ch;
  display: block;
}

/* allows text to be hidden without altering layout */
.text-hide {
  height: 0;
  opacity: 0;
}

/* indent styles */
.indented {
  @apply ml-8;
}

[dir="rtl"] .indented {
  @apply ml-0 mr-8;
}
