/** @define ubc-gradient */

/* gradients */
.gradient-bottom--ubc-blue {
  background: linear-gradient(to bottom, rgba(var(--ubc-blue), 0) 45%, rgba(var(--ubc-blue), 1) 100%);
}

.gradient-top--ubc-blue {
  background: linear-gradient(to bottom, rgba(var(--ubc-blue), 1) 0%, rgba(var(--ubc-blue), 0) 55%);
}

.gradient-bottom--ubc-blue-full {
  background: linear-gradient(to bottom, rgba(var(--ubc-blue), 0) 2%, rgba(var(--ubc-blue), 1) 100%);
}

.gradient-top--ubc-blue-full {
  background: linear-gradient(to bottom, rgba(var(--ubc-blue), 1) 0%, rgba(var(--ubc-blue), 0) 100%);
}

.gradient-bottom--grey {
  background: linear-gradient(to bottom, rgba(var(--grey-300), 0) 45%, rgba(var(--grey-300), 1) 100%);
}

.gradient-top--grey {
  background: linear-gradient(to bottom, rgba(var(--grey-300), 1) 0%, rgba(var(--grey-300), 0) 55%);
}

.gradient-bottom--grey-full {
  background: linear-gradient(to bottom, rgba(var(--grey-300), 0) 2%, rgba(var(--grey-300), 1) 100%);
}

.gradient-top--grey-full {
  background: linear-gradient(to bottom, rgba(var(--grey-300), 1) 0%, rgba(var(--grey-300), 0) 100%);
}

.has-gradient--after,
.has-gradient-top--after,
.has-gradient-bottom--after {
  position: relative;
}

.has-gradient--after::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(to top, rgba(var(--ubc-blue), 1) 0%, rgba(var(--ubc-blue), 0) 100%);
}

.has-gradient-bottom--after::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(to bottom, rgba(var(--ubc-blue), 0) 45%, rgba(var(--ubc-blue), 1) 100%);
}

.has-gradient-top--after::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(to bottom, rgba(var(--ubc-blue), 1) 0%, rgba(var(--ubc-blue), 0) 55%);
}
