{% set cardbasicattributes = create_attribute() %}
{%
    set classes = [
        'ubc-card',
        'ubc-card--basic',
        'ubc-card--vert',
        'text-ubc-blue',
        'bg-light',
        'group',
        altStyle ? 'bg-white' : 'bg-ubc-grey-6',
        customClasses,
    ]
%}
<article {{ cardbasicattributes.addClass(classes) }}>
    <h3 class="ubc-card--basic__title">
        <a href="{{ link }}" class="text-white no-underline link-expand hover--text-white hover--underline"{% if target %} target="_blank"{% endif %}>
            {{ title }}
        </a>
    </h3>
    {% if subtitle %}
        <h4 class="ubc-card--basic__subtitle{% if altStyle %} bg-cesd-blue-mid{% endif %}">
            {{ subtitle }}
        </h4>
    {% endif %}
    {% if isNew %}
        {% if altStyle %}
            {% embed 'kraken:badge' with {
            background: 'bg-unit-secondary',
            size: 'h-8 w-8',
            customClasses: 'absolute top-3 right-3',
            styleClasses: 'm-1 font-semibold tracking-tighter',
            color: 'text-ubc-blue',
            } %}
                {% block content %}
                    NEW
                {% endblock %}
            {% endembed %}
        {% else %}
            {% embed 'kraken:badge' with {
                background: 'bg-ubc-grey-1',
                size: 'h-8 w-8',
                customClasses: 'absolute top-3 right-3',
                styleClasses: 'm-1 font-semibold tracking-tighter',
                color: 'text-white',
                } %}
                {% block content %}
                    NEW
                {% endblock %}
            {% endembed %}
        {% endif %}
    {% endif %}
    <div class="ubc-card__content first-child--mt-0">
        {% block content %}{% endblock %}
    </div>
</article>