{% set cardplainattributes = create_attribute() %}
{% set classes = [
    'border',
    'ubc-card',
    'ubc-card--plain',
    'ubc-card--vert',
    'md--p-12',
    'text-ubc-blue',
    'bg-light',
    'group',
    threecolumns ? 'ubc-card--plain--3 md--grid-cols-12',
    customClasses,
  ]
%}
<article {{ cardplainattributes.addClass(classes) }}>
  <div class="ubc-card__inner">
    <div class="col-first first-child--mt-0{% if threecolumns %} md--col-span-4{% endif %}">
      {% block content %}{% endblock %}
    </div>
    <div class="first-child--mt-0 col-second{% if threecolumns %} md--col-span-5 lg--col-span-6{% endif %}">
      {% block column2 %}{% endblock %}
    </div>
    {% if threecolumns %}
    <div class="col-third md--col-span-3 lg--col-span-2 first-child--mt-0">
      {% block column3 %}{% endblock %}
    </div>
    {% endif %}
  </div>
</article>
