{% set cardnewsattributes = create_attribute() %}
{%
    set classes = [
        'border-b',
        'ubc-card',
        'ubc-card--list',
        'ubc-card--vert',
        'border-ubc-grey-1',
        customClasses,
    ]
%}
<article {{ cardnewsattributes.addClass(classes) }}>
    <div class="ubc-card__content first-child--mt-0">
        <h3 class="card__title">
            <a href="{{ link }}" class="link-expand"{% if target %} target="_blank"{% endif %}>
                {{ title }}
            </a>
        </h3>
        <p class="font-semibold">{{ date }}</p>
        {% block content %}{% endblock %}
    </div>
</article>