{% set cardquoteattributes = create_attribute() %}
{% set classes = [
    style ? 'quote-card quote-card--squares': 'quote-card',
    customClasses,
  ]
%}
<article {{ cardquoteattributes.addClass(classes) }}>
  <div class="quote-card__wrapper">
    <div class="quote-card__media">
      {% block media %}{% endblock %}
    </div>
    <blockquote class="quote-card__content first-child--mt-0">
      {% block content %}{% endblock %}
      {% if attribution %}
        <p class="text-cite">{{ attribution }}</p>
      {% endif %}
    </blockquote>
  </div>
</article>
