{% set mastheadwtextattributes = create_attribute() %}
{% set classes = [
    'mt-4',
    'masthead-w-image-text',
    background,
    customClasses,
  ]
%}

<section {{ mastheadwtextattributes.addClass(classes) }}>
  <div class="container px-5 mx-auto md--px-4">
    {{ drupal_block('system_breadcrumb_block') }}
    <div class=" masthead-w-image-text__wrapper">
      <div class="masthead-w-image-text__content">
        <h1 class="">{{ title }}</h1>
        <div class="text-lead text-measure">
          {% block lead %}{% endblock %}
        </div>
      </div>
      <figure>
        {% block media %}{% endblock %}
        {% if imageCaption %}
          <figcaption>{{ imageCaption }}</figcaption>
        {% endif %}
      </figure>
      <div class="masthead-w-image-text__spacer">
      </div>
    </div>
  </div>
</section>