{% set cardsearchattributes = create_attribute() %}
{%
    set classes = [
        'border-b',
        'ubc-card',
        'ubc-card--list',
        'ubc-card--vert',
        'border-ubc-grey-1',
        customClasses,
    ]
%}
<article {{ cardsearchattributes.addClass(classes) }}>
    <div class="ubc-card__content first-child--mt-0">
        <h3 class="card__title">
            <a href="{{ link }}" class="link-expand"{% if target %} target="_blank"{% endif %}>
                {{ title }}
            </a>
        </h3>
        {% if isNew %}
            <span class="badge--new bg-ubc-grey-1">
                <span class="text-white badge--new__inner">NEW</span>
            </span>
        {% endif %}
        {% block crumbs %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
</article>
