{#
	/**
	* @file
	* Component to render a badge.
	*/

	/* Usage example: */

    {% embed 'kraken:badge' with {
        background: 'bg-ubc-blue',
        size: 'h-8 w-8',
        customClasses: 'my-class',
        styleClasses: 'm-1 font-semibold tracking-tighter',
        color: 'text-white',
    } %}
        {% block content %}
            NEW
        {% endblock %}
    {% endembed %}
#}

{% set badgeattributes = create_attribute() %}
{% set badgeinnerattributes = create_attribute() %}
{%
    set classes = [
        'inline-flex',
        'rounded-full',
        background ? background: 'bg-unit-primary',
        customClasses,
    ]
%}
{%
    set innerclasses = [
        'inline-block',
        'justify-center',
        'leading-none',
        'place-items-center',
        'text-xs',
        size ? size: 'w-4 h-4',
        color ? color: 'text-white',
        styleClasses,
    ]
%}

<span {{ badgeattributes.addClass(classes) }} data-component-id="kraken:badge">
    <span {{ badgeinnerattributes.addClass(innerclasses) }}>
        {% block content %}{% endblock %}
    </span>
</span>
