/** @define drupal.paragraphs */

/*
* Styles for paragraphs
*/

.paragraph--type--text__inner > :first-child,
.paragraph--type--text > div > div > :first-child {
  @apply mt-0;
}

/* SVG Icon fix for cards */
.paragraph--type--icon-card img {
  @apply mx-auto;
}