/** @define Drupal Theme */

/*
* This file contains all styles used to modify Drupal makrup to match the theme.
*/

/* text and links on coloured backgrounds */
/* dark backgrounds */
.bg-dark,
.bg-dark h2,
.bg-dark h3,
.bg-dark h4,
.bg-dark h5,
.bg-dark h6,
.ubc-card.bg-dark,
.ubc-card.bg-dark h2,
.ubc-card.bg-dark h3,
.ubc-card.bg-dark h4,
.ubc-card.bg-dark h5,
.ubc-card.bg-dark h6,
.widget-card.bg-ubc-blue,
.widget-card.bg-ubc-blue h2,
.widget-card.bg-ubc-blue h3,
.widget-card.bg-ubc-blue h4,
.widget-card.bg-ubc-blue h5,
.widget-card.bg-ubc-blue h6,
.widget-card.bg-ubc-blue-sea,
.widget-card.bg-ubc-blue-sea h2,
.widget-card.bg-ubc-blue-sea h3,
.widget-card.bg-ubc-blue-sea h4,
.widget-card.bg-ubc-blue-sea h5,
.widget-card.bg-ubc-blue-sea h6,
.widget-card.bg-ubc-blue-cobalt,
.widget-card.bg-ubc-blue-cobalt h2,
.widget-card.bg-ubc-blue-cobalt h3,
.widget-card.bg-ubc-blue-cobalt h4,
.widget-card.bg-ubc-blue-cobalt h5,
.widget-card.bg-ubc-blue-cobalt h6,
.widget-color-box.bg-ubc-blue,
.widget-color-box.bg-ubc-blue h2,
.widget-color-box.bg-ubc-blue h3,
.widget-color-box.bg-ubc-blue h4,
.widget-color-box.bg-ubc-blue h5,
.widget-color-box.bg-ubc-blue h6,
.widget-color-box.bg-ubc-blue-sea,
.widget-color-box.bg-ubc-blue-sea h2,
.widget-color-box.bg-ubc-blue-sea h3,
.widget-color-box.bg-ubc-blue-sea h4,
.widget-color-box.bg-ubc-blue-sea h5,
.widget-color-box.bg-ubc-blue-sea h6,
.widget-color-box.bg-ubc-blue-cobalt,
.widget-color-box.bg-ubc-blue-cobalt h2,
.widget-color-box.bg-ubc-blue-cobalt h3,
.widget-color-box.bg-ubc-blue-cobalt h4,
.widget-color-box.bg-ubc-blue-cobalt h5,
.widget-color-box.bg-ubc-blue-cobalt h6  {
  @apply text-white;
}

.bg-dark a:not(.unit-button),
.ubc-card.bg-dark a:not(.unit-button),
.widget-card.bg-ubc-blue a:not(.unit-button),
.widget-card.bg-ubc-blue-sea a:not(.unit-button),
.widget-card.bg-ubc-blue-cobalt a:not(.unit-button),
.widget-color-box.bg-ubc-blue a:not(.unit-button),
.widget-color-box.bg-ubc-blue-sea a:not(.unit-button),
.widget-color-box.bg-ubc-blue-cobalt a:not(.unit-button) {
  @apply text-ubc-blue-polar;
}

.bg-dark a:not(.unit-button):hover,
.ubc-card.bg-dark a:not(.unit-button):hover,
.widget-card.bg-ubc-blue a:not(.unit-button):hover,
.widget-card.bg-ubc-blue-sea a:not(.unit-button):hover,
.widget-card.bg-ubc-blue-cobalt a:not(.unit-button):hover,
.widget-color-box.bg-ubc-blue a:not(.unit-button):hover,
.widget-color-box.bg-ubc-blue-sea a:not(.unit-button):hover,
.widget-color-box.bg-ubc-blue-cobalt a:not(.unit-button):hover {
  @apply text-ubc-blue-cornflower;
}

.bg-dark .unit-button--simple,
.bg-dark .unit-button--simple:hover,
.bg-dark.group:hover .unit-button--simple,
.ubc-card.bg-dark .unit-button--simple,
.ubc-card.bg-dark .unit-button--simple:hover,
.ubc-card.bg-dark.group:hover .unit-button--simple,
.widget-card.bg-ubc-blue .unit-button--simple,
.widget-card.bg-ubc-blue .unit-button--simple:hover,
.widget-card.bg-ubc-blue.group:hover .unit-button--simple,
.widget-card.bg-ubc-blue-sea .unit-button--simple,
.widget-card.bg-ubc-blue-sea .unit-button--simple:hover,
.widget-card.bg-ubc-blue-sea.group:hover .unit-button--simple,
.widget-card.bg-ubc-blue-cobalt .unit-button--simple,
.widget-card.bg-ubc-blue-cobalt .unit-button--simple:hover,
.widget-card.bg-ubc-blue-cobalt.group:hover .unit-button--simple,
.widget-color-box.bg-ubc-blue .unit-button--simple,
.widget-color-box.bg-ubc-blue .unit-button--simple:hover,
.widget-color-box.bg-ubc-blue-sea .unit-button--simple,
.widget-color-box.bg-ubc-blue-sea .unit-button--simple:hover,
.widget-color-box.bg-ubc-blue-cobalt .unit-button--simple,
.widget-color-box.bg-ubc-blue-cobalt .unit-button--simple:hover {
  @apply text-white;
}

.bg-dark .unit-button--simple:before,
.bg-dark .unit-button--simple:hover:before,
.bg-dark.group:hover .unit-button--simple:before,
.ubc-card.bg-dark .unit-button--simple:before,
.ubc-card.bg-dark .unit-button--simple:hover:before,
.ubc-card.bg-dark.group:hover .unit-button--simple:before,
.widget-card.bg-ubc-blue .unit-button--simple:before,
.widget-card.bg-ubc-blue .unit-button--simple:hover:before,
.widget-card.bg-ubc-blue.group:hover .unit-button--simple:before,
.widget-card.bg-ubc-blue-sea .unit-button--simple:before,
.widget-card.bg-ubc-blue-sea .unit-button--simple:hover:before,
.widget-card.bg-ubc-blue-sea.group:hover .unit-button--simple:before,
.widget-card.bg-ubc-blue-cobalt .unit-button--simple:before,
.widget-card.bg-ubc-blue-sea-cobalt .unit-button--simple:hover:before,
.widget-card.bg-ubc-blue-sea-cobalt.group:hover .unit-button--simple:before,
.widget-color-box.bg-ubc-blue .unit-button--simple:before,
.widget-color-box.bg-ubc-blue .unit-button--simple:hover:before,
.widget-color-box.bg-ubc-blue-sea .unit-button--simple:before,
.widget-color-box.bg-ubc-blue-sea .unit-button--simple:hover:before,
.widget-color-box.bg-ubc-blue-cobalt .unit-button--simple:before,
.widget-color-box.bg-ubc-blue-cobalt .unit-button--simple:hover:before {
  background-image: url(../img/svg/icon-caret--white.svg);
}

/* light backgrounds / fixes */
.ubc-card.bg-light,
.widget-card.bg-white,
.widget-card.bg-ubc-blue-neptune,
.widget-card.bg-ubc-blue-cornflower,
.widget-card.bg-ubc-blue-polar,
.widget-card.bg-ubc-blue-frost,
.widget-color-box.bg-white,
.widget-color-box.bg-ubc-blue-neptune,
.widget-color-box.bg-ubc-blue-cornflower,
.widget-color-box.bg-ubc-blue-polar,
.widget-color-box.bg-ubc-blue-frost,
.ubc-card.bg-light a:hover:not(.unit-button) {
  color: var(--text-color);
}

.ubc-card.bg-light h2,
.ubc-card.bg-light h3,
.ubc-card.bg-light h4,
.ubc-card.bg-light h5,
.ubc-card.bg-light h6,
.widget-card.bg-white h2,
.widget-card.bg-white h3,
.widget-card.bg-white h4,
.widget-card.bg-white h5,
.widget-card.bg-white h6,
.widget-card.bg-ubc-blue-neptune h2,
.widget-card.bg-ubc-blue-neptune h3,
.widget-card.bg-ubc-blue-neptune h4,
.widget-card.bg-ubc-blue-neptune h5,
.widget-card.bg-ubc-blue-neptune h6,
.widget-card.bg-ubc-blue-cornflower h2,
.widget-card.bg-ubc-blue-cornflower h3,
.widget-card.bg-ubc-blue-cornflower h4,
.widget-card.bg-ubc-blue-cornflower h5,
.widget-card.bg-ubc-blue-cornflower h6,
.widget-card.bg-ubc-blue-polar h2,
.widget-card.bg-ubc-blue-polar h3,
.widget-card.bg-ubc-blue-polar h4,
.widget-card.bg-ubc-blue-polar h5,
.widget-card.bg-ubc-blue-polar h6,
.widget-card.bg-ubc-blue-frost h2,
.widget-card.bg-ubc-blue-frost h3,
.widget-card.bg-ubc-blue-frost h4,
.widget-card.bg-ubc-blue-frost h5,
.widget-card.bg-ubc-blue-frost h6,
.widget-color-box.bg-white h2,
.widget-color-box.bg-white h3,
.widget-color-box.bg-white h4,
.widget-color-box.bg-white h5,
.widget-color-box.bg-white h6,
.widget-color-box.bg-ubc-blue-neptune h2,
.widget-color-box.bg-ubc-blue-neptune h3,
.widget-color-box.bg-ubc-blue-neptune h4,
.widget-color-box.bg-ubc-blue-neptune h5,
.widget-color-box.bg-ubc-blue-neptune h6,
.widget-color-box.bg-ubc-blue-cornflower h2,
.widget-color-box.bg-ubc-blue-cornflower h3,
.widget-color-box.bg-ubc-blue-cornflower h4,
.widget-color-box.bg-ubc-blue-cornflower h5,
.widget-color-box.bg-ubc-blue-cornflower h6,
.widget-color-box.bg-ubc-blue-polar h2,
.widget-color-box.bg-ubc-blue-polar h3,
.widget-color-box.bg-ubc-blue-polar h4,
.widget-color-box.bg-ubc-blue-polar h5,
.widget-color-box.bg-ubc-blue-polar h6,
.widget-color-box.bg-ubc-blue-frost h2,
.widget-color-box.bg-ubc-blue-frost h3,
.widget-color-box.bg-ubc-blue-frost h4,
.widget-color-box.bg-ubc-blue-frost h5,
.widget-color-box.bg-ubc-blue-frost h6 {
  color: var(--heading-color);
}

.ubc-card.bg-light a:not(.unit-button),
.widget-card.bg-white a:not(.unit-button),
.widget-card.bg-ubc-blue-neptune a:not(.unit-button),
.widget-card.bg-ubc-blue-cornflower a:not(.unit-button),
.widget-card.bg-ubc-blue-polar a:not(.unit-button),
.widget-card.bg-ubc-blue-frost a:not(.unit-button),
.widget-color-box.bg-white a:not(.unit-button),
.widget-color-box.bg-ubc-blue-neptune a:not(.unit-button),
.widget-color-box.bg-ubc-blue-cornflower a:not(.unit-button),
.widget-color-box.bg-ubc-blue-polar a:not(.unit-button),
.widget-color-box.bg-ubc-blue-frost a:not(.unit-button),
.ubc-card.bg-light .unit-button--simple,
.widget-card.bg-white .unit-button--simple,
.widget-card.bg-ubc-blue-neptune .unit-button--simple,
.widget-card.bg-ubc-blue-cornflower .unit-button--simple,
.widget-card.bg-ubc-blue-polar .unit-button--simple,
.widget-card.bg-ubc-blue-frost .unit-button--simple,
.widget-color-box.bg-white .unit-button--simple
.widget-color-box.bg-ubc-blue-neptune .unit-button--simple,
.widget-color-box.bg-ubc-blue-cornflower .unit-button--simple,
.widget-color-box.bg-ubc-blue-polar .unit-button--simple,
.widget-color-box.bg-ubc-blue-frost .unit-button--simple  {
  color: var(--default-color-link);
}

.ubc-card.bg-light a:not(.unit-button):hover,
.widget-card.bg-white a:not(.unit-button):hover,
.widget-card.bg-ubc-blue-neptune a:not(.unit-button):hover,
.widget-card.bg-ubc-blue-cornflower a:not(.unit-button):hover,
.widget-card.bg-ubc-blue-polar a:not(.unit-button):hover,
.widget-card.bg-ubc-blue-frost a:not(.unit-button):hover,
.widget-color-box.bg-white a:not(.unit-button):hover,
.widget-color-box.bg-ubc-blue-neptune a:not(.unit-button):hover,
.widget-color-box.bg-ubc-blue-cornflower a:not(.unit-button):hover,
.widget-color-box.bg-ubc-blue-polar a:not(.unit-button):hover,
.widget-color-box.bg-ubc-blue-frost a:not(.unit-button):hover,
.ubc-card.bg-light .unit-button--simple:hover,
.widget-card.bg-white .unit-button--simple:hover,
.widget-card.bg-ubc-blue-neptune .unit-button--simple:hover,
.widget-card.bg-ubc-blue-cornflower .unit-button--simple:hover,
.widget-card.bg-ubc-blue-polar .unit-button--simple:hover,
.widget-card.bg-ubc-blue-frost .unit-button--simple:hover,
.widget-color-box.bg-white .unit-button--simple:hover,
.widget-color-box.bg-ubc-blue-neptune .unit-button--simple:hover,
.widget-color-box.bg-ubc-blue-cornflower .unit-button--simple:hover,
.widget-color-box.bg-ubc-blue-polar .unit-button--simple:hover,
.widget-color-box.bg-ubc-blue-frost .unit-button--simple:hover,
.ubc-card.bg-light.group:hover .unit-button--simple {
  color: var(--default-color-link-hover);
}

.ubc-card.bg-light .unit-button--simple:before,
.widget-card.bg-white .unit-button--simple:before,
.widget-card.bg-ubc-blue-neptune .unit-button--simple:before,
.widget-card.bg-ubc-blue-cornflower .unit-button--simple:before,
.widget-card.bg-ubc-blue-polar .unit-button--simple:before,
.widget-card.bg-ubc-blue-frost .unit-button--simple:before,
.widget-color-box.bg-white .unit-button--simple:before,
.widget-color-box.bg-ubc-blue-neptune .unit-button--simple:before,
.widget-color-box.bg-ubc-blue-cornflower .unit-button--simple:before,
.widget-color-box.bg-ubc-blue-polar .unit-button--simple:before,
.widget-color-box.bg-ubc-blue-frost .unit-button--simple:before,
.ubc-card.bg-light .unit-button--simple:hover:before,
.widget-card.bg-white .unit-button--simple:hover:before,
.widget-card.bg-ubc-blue-neptune .unit-button--simple:hover:before,
.widget-card.bg-ubc-blue-cornflower .unit-button--simple:hover:before,
.widget-card.bg-ubc-blue-polar .unit-button--simple:hover:before,
.widget-card.bg-ubc-blue-frost .unit-button--simple:hover:before,
.widget-color-box.bg-white .unit-button--simple:hover:before,
.widget-color-box.bg-ubc-blue-neptune .unit-button--simple:hover:before,
.widget-color-box.bg-ubc-blue-cornflower .unit-button--simple:hover:before,
.widget-color-box.bg-ubc-blue-polar .unit-button--simple:hover:before,
.widget-color-box.bg-ubc-blue-frost .unit-button--simple:hover:before,
.ubc-card.bg-light.group:hover .unit-button--simple:before {
  background-image: url(../img/svg/icon-caret--ubc-blue.svg);
}

/* js text counter */
.text-count-message {
  @apply text-xs text-grey-700;
}

/* jquery datepicker */
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  @apply text-white border border-ubc-blue bg-ubc-blue-cobalt;
}

/* jquery date picker picks up default table styles */
.ui-datepicker {
  font-size: 75%;
}

.ui-datepicker-calendar thead,
.ui-datepicker-calendar tr {
  @apply border-0;
}

.ui-datepicker-calendar th {
  @apply normal-case text-grey-900;
}

/* quickedit divs (gah!) */
[data-quickedit-field-id] {
  @apply inline;
}

/* form elements inside tables */
.tableselect td input,
.tableselect-sort td input,
.tableselect td .form-item,
.tableselect-sort td .form-item  {
  @apply mt-0;
}

/* drag elements */
a.tabledrag-handle .handle {
  width: 14px;
  height: 14px;
  margin: 0 0.5em;
  padding: 0.42em 0.5em;
  background: url(../img/svg/icon-move.svg) no-repeat 6px 7px;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center;
}

.tableselect-sort td {
  @apply relative;
}

.tableselect-sort .tabledrag-changed {
  @apply absolute top-[.5em] left-0;
}
