/** @define Drupal Theme */

/*
* This file contains all styles used to modify Drupal makrup to match the theme.
*/

/* paragraphs */
.paragraph--type--text__inner > :first-child,
.paragraph--type--text > div > div > :first-child {
  @apply mt-0;
}

.paragraph.bg-ubc-blue {
  @apply text-white;
}

.paragraph.bg-ubc-blue a {
  @apply text-ubc-blue-polar;
}

.paragraph.bg-ubc-blue a:hover {
  @apply text-ubc-blue-cornflower;
}

.paragraph.bg-ubc-blue .unit-button--light {
  @apply text-ubc-blue-cobalt;
}

.paragraph.bg-ubc-blue .unit-button--dark {
  @apply text-ubc-blue-polar;
}

.paragraph.bg-ubc-blue .unit-button--light:hover,
.paragraph.bg-ubc-blue .unit-button--dark:hover {
  @apply text-white;
}

.paragraph.bg-ubc-blue .unit-button--simple::after {
  content: url("../img/svg/icon-caret--white.svg");
}

.paragraph.bg-ubc-blue .unit-button--simple:hover::after {
  content: url("../img/svg/icon-caret--white.svg");
}

/* js text counter */
.text-count-message {
  @apply text-sm text-grey-700;
}

/* jquery datepicker */
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  @apply text-white border border-ubc-blue bg-ubc-blue-cobalt;
}

/* jquery date picker picks up default table styles */
.ui-datepicker {
  font-size: 75%;
}

.ui-datepicker-calendar thead,
.ui-datepicker-calendar tr {
  @apply border-0;
}

.ui-datepicker-calendar th {
  @apply normal-case text-grey-900;
}

/* quickedit divs (gah!) */
[data-quickedit-field-id] {
  @apply inline;
}

/* Drupal inline images */
.node__content .field--name-field-media-image img {
  @apply mt-leading;
}
