/**
 * @file
 * Visual styles for table drag.
 */

tr.drag {
  background-color: var(--ubc-blue-frost);
}
tr.drag-previous {
  background-color: var(--ubc-blue-polar);
}
body div.tabledrag-changed-warning {
  margin-bottom: 0.5em;
}
