/**
 * @file
 * Styles for the default drupal login
 */

html,
body {
  @apply bg-ubc-blue;
}

form h2 {
  @apply pb-4 text-xl font-normal text-grey-500;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.max-w-full {
  max-width: 100%;
}

.px-16 {
  padding-right: 4rem;
  padding-left: 4rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 640px) {

  .sm--max-w-md {
    @apply max-w-[34rem]
  }
}

.tabs--primary {
  @apply text-sm;
}

.description {
  @apply py-[.5em] px-0;
}

.form-checkbox,
.form-radio {
  @apply flex-wrap;
}

.user-pass p {
  @apply mb-leading;
}

.user-register-form .form-submit,
.user-pass .form-submit,
.user-login-form .form-submit {
  @apply block w-full text-[1.125rem]
}

.form-managed-file .form-submit {
  @apply block px-6 py-3 text-center no-underline bg-white border text-ubc-blue-cobalt border-ubc-blue-cobalt;
}

.form-managed-file .form-submit:hover {
  @apply text-white border bg-ubc-blue-cobalt border-ubc-blue-cobalt;
}

.button.samlauth-auth-login-link {
  @apply text-lg rounded-sm block text-center no-underline border px-[2em] py-[.65em] cursor-pointer text-center;
  color: rgba(var(--white), 1);
  background-color: rgba(var(--ubc-blue), 1);
  border-color: transparent;
  transition: all 0.125s ease-out;
}

.button.samlauth-auth-login-link:hover {
  background-color: rgba(var(--ubc-blue-cobalt), 1);
}