{#
	/**
	* @file
	* Component to render a masthead.
	*/

	/* Usage example: */
  {% embed 'kraken:masthead' with {
    backgroundLight: false,
    customClasses: 'lostsa-custom-classes scooby yeah',
    gradient: true,
    isPageTitle: true,
    text: 'A small amount of text',
  } %}
    {% block media %}
      <img src="[img-src]">
    {% endblock %}
  {% endembed %}
#}

{% set mastheadattributes = create_attribute() %}
{% set classes = [
    'masthead',
    'relative',
    'img-cover',
    gradient ? 'has-gradient--after',
    backgroundLight ?  'bg-light': 'bg-dark',
    customClasses,
  ]
%}

<section {{ mastheadattributes.addClass(classes) }} data-component-id="kraken:masthead">
  <figure class="m-0">
    {% block media %}{% endblock %}
  </figure>
  <div class="container absolute inset-0 z-40 flex flex-col justify-end px-5 mx-auto md--px-4">
    <div class="p-16 max-w-[640px] xl--max-w-[768px]">
      {% if isPageTitle %}
        <h1 class="mt-0 heading-responsive">{{ text }}</h1>
      {% else %}
        <div class="mt-0 heading-responsive">
          {{ text }}
        </div>
      {% endif %}
    </div>
  </div>
</section>